

@import"header.css";
@import "nav.css";
@import "home.css";
@import"login.css";

body{
    background-color: #001632;
    color: var(--color-light);
    font-family: "F1";
    top: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
:root {
	--color-primary: #ff0000;
	--color-secondary: #1f2120;
	--text-color: #ffffff;
	--color-light: #fff;
	--color-divider: #b40000cf;
	--dark-color-divider: #0e110d;
}
@font-face {
    font-family: "F1";
    /* Los dos puntos (../) son obligatorios para salir de la carpeta 'css' */
    src: url("../fonts/Formula1-Bold-4.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "F1-R";
    src: url("../fonts/Formula1-Regular-1.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:linear-gradient(#000b1a,transparent) ; 
    z-index: 1000;
}

.container.header-expand{
    display: flex;
    align-items: center;
    justify-content: space-between; /* 👈 clave */
    padding: 0 15px;
}

.container-logo{
    padding-left: 0px;

    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;

;

    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    span{
        color: var(--color-light);
        font-size: 26px;
        font-weight: 600;
    }
}

.btn, input[type="submit"] {
    text-decoration: none;
    display: block;
    padding: 14px 20px;
    background-color: #ff0000; 
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px; 
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}


.btn:hover, input[type="submit"]:hover {
    color: black;
    background-color: #ffffff;
    transform: translateY(-2px); 
    box-shadow: 0 5px 5px #8282828f;
}


.btn:active, input[type="submit"]:active {
    transform: translateY(0);
}




section{
    padding: 100px 0;

    @media (max-width:992px) {
        padding: 50px 15px;
    }
}